* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: white;
}

body{
  overflow: hidden;
}

.spotilogo img {
  margin-left: 8px;
  height: 27px;
  padding-bottom: 10px;
}

.main {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: rgb(0, 0, 0);
  width: 340px;
  border-radius: 1rem; /*16px*/
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  margin-left: 0.5rem;
  padding: 0 0.75rem 0 0.75rem;
}

.music-player {
  background-color: #000000;
  position: fixed;
  bottom: 0%;
  height: 105px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.9rem 0.75rem;
}

.nav-option {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  margin-left: 6px;
  opacity: 0.7;
  padding: 0.5rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font: 1.5rem;
}

.nav-option a {
  font: 1rem;
  font-weight: 700;
  margin-left: 1rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  font-weight: 700;
  padding-right: 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-options img {
  height: 1.5rem;
  width: 1.25rem;
}

.lib-icons {
  display: flex;
  font: 1.25rem;
}

.lib-icons > div {
  margin-right: 1rem;
}

.icon-plus {
  opacity: 0.7;
}

.icon-arrow {
  opacity: 0.7;
}

.icon-plus:hover {
  opacity: 1;
}

.icon-arrow:hover {
  opacity: 1;
}

.box1 {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 1rem 0 1.75rem 0;
  padding: 0.5rem 1rem;
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.15rem;
  margin-bottom: 0.5rem;
}

.box-p2 {
  font-size: 0.85rem;
  font-weight: 500;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}

.badge {
  color: #000000;
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin: 0.5rem;
  margin-left: 0rem;
  height: 2rem;
  width: fit-content;
  transition: transform 0.3s;
}

.badge:hover {
  transform: scale(1.045);
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 10;
}

.sticky-icons{
    margin-left: 0.5rem;
}

.sticky-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-buttons button{
    margin-left: 0.41rem;
}

.dark{
    background-color: #000000;
    color: #fff;
}

@media(max-width: 1050px){
  .hide{
    display: none;
  }
}


.cardscontainer{
  background-color: #121212;
  width: 150px;
  border-radius: 0.35rem;
  padding: 1rem 1rem 1rem 1rem;
  flex-wrap: wrap;
}


.cardscontainer:hover{
  background-color: #232323;
  width: 150px;
  border-radius: 0.35rem;
  padding: 1rem 1rem 1rem 1rem;
}

.cardscontainer{
  display: flex;

}

.rhd{
  width: 100%;
  border-radius: 0.35rem;
}

.heading{
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.9rem 0rem 0.25rem ;
}

.info{
  font-size: 0.85rem;
  opacity: 0.8;
}

.container2{
  padding: 1rem 1 rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
.container2 img{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.acards{
  width: 150px;
  background-color: #121212;
  padding-right: 2rem;
  margin-right: 1rem ;
  padding-bottom: 1rem;
  border-radius: 0.35rem;

}


.bcards{
  width: 150px;
  background-color: #121212;
  padding-right: 2rem;
  margin-right: 1rem ;
  border-radius: 0.35rem;

}

.acards:hover{
  width: 150px;
  background-color: #232323;
  padding-right: 2rem;
  margin-right: 1rem ;
  padding-bottom: 1rem;
  border-radius: 0.35rem;

}


.bcards:hover{
  width: 150px;
  background-color: #232323;
  padding-right: 2rem;
  margin-right: 1rem ;
}


.aheading{
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.9rem 1rem 0.25rem ;

}

.ainfo{
  font-size: 0.85rem;
  opacity: 0.8;
  padding-left: 1rem;
}

.footer{
  height: 300px;
  display: flex;
  justify-content: center;
}

.line{
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: 0.4;
}

.album{
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.album img{
  width: 75px;
  padding: 1rem ;
}

.song{
  font-size: 1.12rem;
  font-weight: 600;

}

.artist{
  font-size: 0.9rem;
  opacity: 0.8;
}

.heart{
  margin-left: 0.75rem;

}

.heart:hover{
  color: red;
}

.player-controls{
  height: 50%;
  width: 100%;
  margin-left: 23.90rem;
  display: flex;
  align-items: center;

}

.control{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18.0rem;
  width: 70%;

}

.control1{
  width: 70%; 
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.control1::-webkit-slider-runnable-track{
  background-color: white;
  border-radius: 100px;
  height: 0.2rem;
}

.control1::-webkit-slider-thumb{
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: rgb(136, 213, 21);
  border-radius: 50%;
  margin-top: -6px;
}

.player-controls{
  width: 70%;
  display: flex;
}

.player-controls img{
  opacity: 0.6;
}


.player-controls img:hover{
  width: 100%;
  opacity: 1;
}

.shuffle{
  background-color: red;
  height: 100px;
}

